* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper,
.mid_wrapper {
  color: #536275;
  font-family: 'Open Sans', 'Roboto', 'PT Sans', sans-serif;
  letter-spacing: 1px;
  margin: 20px auto;
  text-align: center;
  font-size: 24px;
}

.wrapper {
  position: relative;
  width: 500px;
  max-width: 95%;
}

.wrapper h1,
.wrapper h2,
.wrapper h3,
.wrapper h4,
.wrapper h5,
.wrapper h6 {
  color: #536275;
  font-weight: 600;
}

.mid_wrapper {
  position: relative;
  width: 960px;
  max-width: 95%;
}

.divider {
  border: none;
  height: 1px;
  background: #fafafa;
  width: 100px;
  max-width: 95%;
  margin: 80px auto 30px auto;
}

.dtop {
  margin: 55px auto 30px auto;
}

.top {
  margin-top: 80px;
  position: relative;
  display: block;
}

.top p.caption {
  font-weight: 400;
  line-height: 40px;
}

.top p.caption span {
  color: #b24a47;
}

.top p.caption span img {
  font-size: 24px;
  vertical-align: middle;
}

.top p.description {
  margin-top: 30px;
  color: #9aa7b7;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
}

.top p.description span {
  color: #627489;
  font-weight: 400;
}

.top p.description strong {
  color: #627489;
}

.mid {
  position: relative;
  display: block;
  margin-top: 50px;
}

.mid h2 {
  font-weight: 400;
  font-size: 20px;
}

.modus {
  margin-top: 50px;
}

.modus ul {
  list-style: none;
}

.modus ul li {
  margin: 15px 30px;
  display: inline-block;
}

.modus .modus_text {
  color: #6e8097;
  font-size: 14px;
  margin-top: 20px;
  display: block;
}

.footer {
  position: relative;
  margin-bottom: 50px;
}

.footer p {
  color: #a9b4c2;
  font-size: 12px;
  font-weight: 300;
}

.button {
  display: inline-block;
  position: relative;
  margin: 60px 3px 0 3px;
  padding: 14px 30px;
  font-weight: 400;
  font-size: 16px;
  color: #fafafa;
  background: #fafafa;
  border-radius: 2px;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  text-decoration: none;
}

.join {
  background: #28E090;
}

.join:hover {
  -webkit-box-shadow: 0px 2px 18px rgba(40, 224, 144, 0.3);
  box-shadow: 0px 2px 18px rgba(40, 224, 144, 0.3);
}

.join:hover, .join:focus {
  color: #ffffff;
  background: #55e6a7;
  text-decoration: none;
}

.faq {
  color: #2d353f;
}

.faq:hover {
  -webkit-box-shadow: 0px 2px 18px rgba(218, 218, 218, 0.3);
  box-shadow: 0px 2px 18px rgba(218, 218, 218, 0.3);
}

.faq:hover, .faq:focus {
  color: #536275;
  background: #f4f5f7;
  text-decoration: none;
}

.logo {
  width: 100px;
  margin: 0 auto;
}

.logo img {
  width: 100%;
}

.github {
  position: relative;
  top: 5px;
  color: #e5e8ec;
  font-size: 12px;
  font-weight: 400;
  padding: 2px 3px;
}

.github:focus {
  color: #d6dbe2;
  text-decoration: none;
}

@media (max-width: 485px) {
  .top {
    margin-top: 40px;
  }
  .top p.caption {
    font-size: 16px;
    line-height: 30px;
  }
  .top p.caption span img {
    width: 18px;
  }
  .top p.description {
    font-size: 13px;
  }
  .mid {
    margin-top: 40px;
  }
  .mid h2 {
    font-size: 18px;
  }
  .modus {
    margin-top: 20px;
  }
  .modus ul li img {
    width: 50px;
  }
  .modus .modus_text {
    font-size: 12px;
  }
  .divider {
    margin: 40px auto 20px auto;
  }
  .button {
    margin: 40px 3px 0 3px;
    padding: 10px 20px;
    font-weight: 400;
    font-size: 14px;
    color: #fafafa;
    background: #fafafa;
    border-radius: 2px;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    text-decoration: none;
  }
  .join {
    background: #28E090;
  }
  .join:hover {
    -webkit-box-shadow: 0px 2px 18px rgba(40, 224, 144, 0.3);
    box-shadow: 0px 2px 18px rgba(40, 224, 144, 0.3);
  }
  .join:hover, .join:focus {
    color: #ffffff;
    background: #55e6a7;
    text-decoration: none;
  }
  .faq {
    color: #2d353f;
  }
  .faq:hover {
    -webkit-box-shadow: 0px 2px 18px rgba(218, 218, 218, 0.3);
    box-shadow: 0px 2px 18px rgba(218, 218, 218, 0.3);
  }
  .faq:hover, .faq:focus {
    color: #536275;
    background: #f4f5f7;
    text-decoration: none;
  }
  .logo {
    width: 75px;
  }
  .logo img {
    width: 100%;
  }
}
