$white: #ffffff;
$gray: #fafafa;
$green: #28E090;
$greenish: #44c98f;
$redish: #b24a47;
$dark: #2d353f;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper,
.mid_wrapper {
  color: lighten($dark, 18%);
  font-family:  'Open Sans', 'Roboto', 'PT Sans', sans-serif;
  letter-spacing: 1px;
  margin: 20px auto;
  text-align: center;
  font-size: 24px;
}

.wrapper {
  position: relative;
  width: 500px;
  max-width: 95%;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: lighten($dark, 18%);
    font-weight: 600;
  }
}

.mid_wrapper {
  position: relative;
  width: 960px;
  max-width: 95%;
}

.divider {
  border: none;
  height: 1px;
  background: $gray;
  width: 100px;
  max-width: 95%;
  margin: 80px auto 30px auto;
}

.top {
  margin-top: 80px;
  position: relative;
  display: block;
  p.caption {
    font-weight: 400;
    line-height: 40px;
    span {
      color: $redish;
      img {
        vertical-align: middle;
      }
    }
  }
  p.description {
    margin-top: 30px;
    color: lighten($dark, 45%);
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;

    span {
      color: lighten($dark, 25%);
      font-weight: 400;
    }
  }
}

.mid {
  position: relative;
  display: block;
  margin-top: 50px;

  h2 {
    font-weight: 400;
    font-size: 20px;
  }
}

.modus {
  margin-top: 50px;
  ul {
    list-style: none;
    li {
      margin: 15px 30px;
      display: inline-block;
    }
  }

  .modus_text {
    color: lighten($dark, 30%);
    font-size: 14px;
    margin-top: 20px;
    display: block;
  }
}

.footer {
  position: relative;
  margin-bottom: 50px;

  p {
    color: lighten($dark, 50%);
    font-size: 12px;
    font-weight: 300;
  }
}

.button {
  display: inline-block;
  position: relative;
  margin: 60px 3px 0 3px;
  padding: 14px 30px;
  font-weight: 400;
  font-size: 16px;
  color: $gray;
  background: $gray;
  border-radius: 2px;
  transition: all .5s ease;
  text-decoration: none;
}

.join {
  background: $green;
  &:hover {
    box-shadow: 0px 2px 18px rgba(40, 224, 144, 0.3);
  }
  &:hover,
  &:focus {
    color: $white;
    background: lighten($green, 10%);
    text-decoration: none;
  }
}

.faq {
  color: $dark;
  &:hover {
    box-shadow: 0px 2px 18px rgba(218, 218, 218, 0.3);
  }
  &:hover,
  &:focus {
    color: lighten($dark, 18%);
    background: lighten($dark, 75%);
    text-decoration: none;
  }
}

.logo {
  width: 100px;
  margin: 0 auto;
  img {
    width: 100%;
  }
}
